.pushmenu ul li.last_menu_item { padding-right:0px; }
.pushmenu ul {
	text-align:center;
	margin: 0;
	padding:0px;
	list-style: none;
}
.pushmenu { float:right; margin-top:46px; }
.pushmenu ul li {
	display:inline-block;
	position:relative;
	cursor: pointer;
	background-position: left;
	background-repeat:no-repeat;
}
.pushmenu ul li:last-child { margin-right:0px; }
.pushmenu ul li a {
	 color: #2F2E2E;
	padding:10px 0px;
	margin:0px 20px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	font-weight: 400;
	letter-spacing: inherit;
	display: inline-block;
	background-color:transparent;
	font:normal normal normal 13px/1.4em proxima-n-w01-reg,sans-serif;
	padding-bottom:0px;
}
.pushmenu ul li ul {
	padding: 0;
	position: absolute;
	top: 0px;
	padding-top:21px;
	text-align:left;
	left: 0;
	width: 165px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	z-index:999;
	visibility: hidden;
}
.pushmenu ul li ul li {
	float:none;
	background-image:none;
}
.pushmenu ul li ul li ul {
	padding: 0;
	position: absolute;
	top: 0px;
	text-align:left;
	left: 165px;
	width: 165px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
}
.pushmenu ul li ul li {
	background-color: #5f533b;
	display: block;;
	border-top:1px dotted #fff;
}
.pushmenu ul li ul li:first-child { border:none; }
.pushmenu ul li ul li a {
	display:block;
	color: #fff;
}
#nav_list {
	background-color:#000;
	z-index:9999;
	text-indent: -99999em;
}
.ie8 .pushmenu ul li.active { color:#f16536; }
.ie8 .pushmenu ul li ul li ul {
	opacity:1;
	visibility:hidden;
	display:none !important;
}
.ie8 .pushmenu ul li ul li:hover { color:#c41402; }
.ie8 .pushmenu ul li ul li:hover ul {
	display: block !important;
	opacity: 1;
	visibility: visible;
}
.ie8 .pushmenu ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}
.ie8 .pushmenu ul li ul li:hover { background-color: #666; }
.ie8 .pushmenu ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}
.ie8 .pushmenu ul li ul li:hover ul {
	display: block !important;
	opacity: 1;
	visibility: visible;
}
.drop_down_menu ul .submenu {
	background-image: url(../images/arrow_new.png) !important;
	background-repeat: no-repeat !important;
	background-position: 95% 17px !important;
}
.pushmenu ul li a:focus {
	color: #c41402;
	outline:none;
}
.pushmenu ul .active a  { color:#2B6CA2; }
.pushmenu ul li a:hover { color:#F26B50; }

.search {
	background-image:url(../images/search_icon.png);
	background-position:right top;
	background-repeat:no-repeat;
	height:43px;
	width:43px;
	border:none;
	background-color:transparent;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
.search:hover { background-position:right bottom; }
/*media query begin*/
@media screen and (min-width: 767px) {

.pushmenu ul li ul li ul {
opacity:1;
visibility:hidden;
display:none !important;
}
.pushmenu ul li ul li:hover {
background-color: #666;
}
.pushmenu ul li ul li:hover ul {
display: block !important;
opacity: 1;
visibility: visible;
}
.pushmenu ul li:hover ul {
display: block;
opacity: 1;
visibility: visible;
}
.pushmenu ul li ul li a:hover {
background-color: #8d8c78;
}
 .pushmenu ul li ul li a:hover {
color:#fff;
}
.pushmenu ul li:hover ul {
display: block;
opacity: 1;
visibility: visible;
}
.pushmenu ul li ul li:hover ul {
display: block !important;
opacity: 1;
visibility: visible;
}
.pushmenu ul li.active {
 border-top:none !important;
}
.pushmenu ul li.active ul li a {
color:#fff !important;
border-bottom:none !important;
}
.pushmenu ul li.active ul li {
color:#fff !important;
border-bottom:none !important;
}
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {
 
}
@media (max-width:767px) {
	 .pushmenu ul li a {
	 padding:0px;
	 margin:0px;
	 line-height:inherit;
}
 .menu {
 padding-top:0px;
}
.pushmenu ul li {
padding:10px 0px;
}
.drop_down_menu ul {
display:none;
}
.drop_down_menu_1 ul {
display:none;
}
.drop_down_menu {
background-image: url(../images/down_arrow_menu.png) !important;
background-repeat: no-repeat !important;
background-position: 95% 10px !important;
}
.pushmenu {
background-color: #131d2b;
color:#FFFFFF;
width: 240px;
height: 100%;
top: 0;
z-index: 1000;
margin:0px;
position:fixed;
}
.pushmenu-left {
right: -240px;
}
.pushmenu ul li {
display:block;
background-image:none;
}
.pushmenu-left.pushmenu-open {
right: 0;
}
.pushmenu-push {
overflow-x: hidden;
position: relative;
right: 0;
}
.pushmenu-push-toright {
right: 240px;
}
/*Transition*/
.pushmenu, .pushmenu-push {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#nav_list {
/*background: url(http://www.onlywebpro.com/demo/jquery/icon_nav.png) no-repeat left top;
height: 17px;
width: 21px;*/
float:right;
background-image:url(../images/toggle_icon.png);
background-position:left top;
background-repeat:no-repeat;
cursor: pointer;
height: 60px;
width: 60px;
text-indent: -99999em;
position:absolute;
right:0px;
top:49px;
}
nav-list.active {
background-position: -33px top;
}
section.content {
text-transform:uppercase !important;
padding: 10px 20px;
}
section.content h1 {
 text-transform:uppercase !important;
}
.drop_down_menu_1 ul {
padding-left:30px !important;
}
.pushmenu ul li ul {
position:inherit !important;
width:inherit;
visibility:inherit;
opacity:inherit;
top:inherit;
}
.pushmenu ul {
text-align:left;
}
.pushmenu ul li {
border-top:1px dotted #cfcfcf;
}
.pushmenu ul li a {
padding:10px 10px;
display:inline-block;
 text-align:left;
font-size:14px;
color:#FFFFFF;
}
.pushmenu ul li.active a {
color:#fff;
}
.pushmenu ul li ul {
padding-top:0px;
}
 .pushmenu ul li {
padding:0px;
}
 .pushmenu ul li:first-child a {
 border:none !important;
}
.pushmenu ul li ul li {
padding:0px;
}
.pushmenu ul li ul li a {
padding-left:22px;
font-size:14px;
color:#fff;
background-image:none !important;
}
.pushmenu ul li ul li ul li a {
padding-left:35px;
}
.pushmenu ul {
padding:0px;
}
.pushmenu ul li:hover ul {
display:none;
}
.pushmenu ul li ul li ul {
left:0px;
visibility:visible;
width:100%;
}
.pushmenu ul li {
float:none;
}
.pushmenu ul li ul li ul {
opacity:1;
visibility:visible;
}
.pushmenu {
overflow-y:auto;
}
.buttonset .active {
background-image:url(../images/close_button.png) !important;
width:24px;
height:24px;
}
.drop_down_menu_arrow {
background-image:url(../images/drop_down_menu_arrow.png) !important;
background-repeat:no-repeat;
}
 .pushmenu ul li ul li {
background-color:#448511;
}
.pushmenu ul li:first-child{
border-top:0px dotted #cfcfcf;
}
.pushmenu ul li:last-child {
border-top:1px dotted #cfcfcf;
}
 .pushmenu ul > li.drop_down_menu {
background-image:url(../images/dropdown_expand.png) !important;
background-repeat: no-repeat;
}
 .pushmenu ul > li.drop_down_menu.drop_down_menu_active {
background-image:url(../images/dropdown_close.png) !important;
background-repeat: no-repeat;
}

.pushmenu ul li ul li:first-child {
border-top:1px dotted #cfcfcf;
}
}
@media (max-width:480px) {

}
/*media query end*/

/*Burger Menu*/
/* Menu icon styles */
.menu-icon-wrapper {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: 2em;
	pointer-events: none;
	transition: 0.1s;
	position:absolute;
	right:0px;
	z-index:999999;
	top:10px;
}
.menu-icon-wrapper.scaled {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}
.menu-icon-wrapper svg {
	position: absolute;
	top: -33px;
	left: -33px;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}
.menu-icon-wrapper svg path {
	stroke: #2F59A3;
	stroke-width:30px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: transparent;
}
.menu-icon-wrapper .menu-icon-trigger {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	pointer-events: auto;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
.menu-icon-wrapper .menu-icon-trigger:hover, .menu-icon-wrapper .menu-icon-trigger:focus { outline: none; }
